<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="icon" type="image/x-icon" href="/img/Slider/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/Icon/themify-icons-font/themify-icons/themify-icons.css">
</head>

<body>
    <div id="main">
        <div id="header">
            <ul id="nav">

                <li><a href="#">Home</a></li>
                <li><a href="#Teams">Teams</a></li>
                <li><a href="#Shop">Shop</a></li>
                <li><a href="#Contact">Contact</a></li>
                <li>
                    <a href="">
                        More
                        <i class=" nav-icon-down ti-arrow-circle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="#">Titles</a></li>
                        <li><a href="#">Stadium</a></li>
                        <li><a href="#">Fans</a></li>
                    </ul>
                </li>
            </ul>
            <div class="search-btn">
                <i class="search-icon ti-search"></i>
            </div>
        </div>

        <div id="slider">
            <div class="text-content">
                <div class="logo">
                </div>
                <h2 class="text-heading">
                    FC BARCELONA
                </h2>

                <div class="text-description">
                    Més que un Club
                </div>

            </div>
        </div>

        <div id="content">
            <div id="Teams" class="content-section">
                <h2 class="section-heading">HISTORY</h2>
                <p class="section-sub-heading">We love Football</p>
                <p class="about-team">Futbol Club Barcelona, commonly referred to as Barcelona and colloquially known as
                    Barça ([ˈbaɾsə]), is a professional football club based in Barcelona, Catalonia, Spain, that
                    competes in La Liga, the top flight of Spanish football.

                    Founded in 1899 by a group of Swiss, Catalan, German and English footballers led by Joan Gamper, the
                    club has become a symbol of Catalan culture and Catalanism, hence the motto "Més que un club" ("More
                    than a club"). Unlike many other football clubs, the supporters own and operate Barcelona. It is the
                    fourth-most valuable sports team in the world, worth $4.76 billion, and the world's fourth richest
                    football club in terms of revenue, with an annual turnover of €582.1 million. The official Barcelona
                    anthem is the "Cant del Barça", written by Jaume Picas and Josep Maria Espinàs. Barcelona
                    traditionally play in dark shades of blue and garnet stripes, hence nicknamed Blaugrana.</p>
                <div class="members-list">
                    <div class="member-item">
                        <p class="name">
                            Johan Cruyff</p>
                        <img src="/img/Slider/img1.jpg" alt="Name" class="member-img">

                    </div>

                    <div class="member-item">
                        <p class="name">Lionel Messi</p>
                        <img src="/img/Slider/img2.jpg" alt="Name" class="member-img">

                    </div>

                    <div class="member-item">
                        <p class="name">Secgio Busquets</p>
                        <img src="/img/Slider/img3.jpg" alt="Name" class="member-img">

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="Shop" class="ticket-section">

                <div class="content-section">
                    <h2 class="section-heading text-white">SHOP</h2>
                    <p class="section-sub-heading text-white">Remember to book your tickets!</p>
                    <ul class="tickets-list">


                        <li>Septemper <span class="sold-out"></span>Sold-Out</li>
                        <li>October <span class="sold-out"></span>Sold-Out</li>
                        <li>November <span class="quantity">3</span></li>

                    </ul>


                    <div class="place-list">
                        <div class="place-item">
                            <img src="/img/Slider/Barcelona-vs-Atletico-Madrid-.jpg" alt="" class="place-img">

                            <div class="place-body">
                                <h3 class="place-heading">
                                    Vs.Atletico Madrid
                                </h3>
                                <p class="place-time">
                                    Fri 5 November 2022
                                </p>

                                <p class="place-desc">Copa de Rey</p>
                                <button class="place-buy-btn js-buy-ticket"> Buy Tickets </button>
                            </div>
                        </div>




                        <div class="place-item">
                            <img src="/img/Slider/bien-dong-ty-le-keo-nha-cai-barcelona-vs-real-madrid-hom-nay-12-1_66133.jpg"
                                alt="" class="place-img">

                            <div class="place-body">
                                <h3 class="place-heading">
                                    Vs. Real Madrid
                                </h3>
                                <p class="place-time">
                                    Sat 14 November 2022
                                </p>

                                <p class="place-desc">La Liga 2022-2023</p>
                                <button class="place-buy-btn js-buy-ticket">Buy Tickets</button>
                            </div>
                        </div>



                        <div class="place-item">
                            <img src="/img/Slider/0-1316.jpg" alt="" class="place-img">

                            <div class="place-body">
                                <h3 class="place-heading">
                                    Vs.Manchester United
                                </h3>
                                <p class="place-time">
                                    Fri 27 November 2022
                                </p>

                                <p class="place-desc">Uefa Champions League</p>
                                <button class="place-buy-btn js-buy-ticket">Buy Tickets</button>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>







                </div>
            </div>

            <div id="Contact" class="content-section">
                <h2 class="section-heading">CONTACT</h2>
                <p class="section-sub-heading">Waiting for you...</p>
                <div class="row contact-content">

                    <div class="col col-half contact-info">
                        <p><i class="ti-location-pin"></i>Barcelona</p>
                        <p><i class="ti-mobile"></i>Phone: +84 53463286</p>
                        <p><i class="ti-email"></i>daylamail@mail.com</p>
                    </div>

                    <div class="col col-half contact-form">
                        <form action="">
                            <div class="row ">
                                <div class="col col-half ">
                                    <input type="text" name="" placeholder="Name" required id="" class="form-control">
                                </div>

                                <div class="col col-half">
                                    <input type="email" name="" placeholder="Email" required id="" class="form-control">
                                </div>
                            </div>

                            <div class="row mt8">
                                <div class="col col-full">
                                    <input type="text" name="" placeholder="Message" required id=""
                                        class="form-control">
                                </div>
                            </div>
                            <input class="contact-submit-btn mt16" type="submit" value="SEND">
                        </form>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="map-section">
        <img src="/img/Slider/lineup2015.jpg" alt="">
    </div>
    </div>

    <div id="footer">
        <div class="social-list">
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-facebook"></i></a>
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-instagram"></i></a>
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-twitter"></i></a>
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-youtube"></i></a>
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-pinterest"></i></a>
            <a href="https://www.facebook.com/hoanganhvu03"><i class="ti-linkedin"></i></a>


        </div>
        <p class="copyright"> Powered by <a href="https://www.facebook.com/hoanganhvu03">Hoang Anh Vu</a></p>
    </div>

    </div>


    <div class="modal js-modal">
        <div class="modal-container">
            <div class="modal-close js-modal-close">
                <i class="ti-close"></i>
            </div>
            <header class="modal-header">
                <i class="ti-bag"></i>
                Tickets
            </header>

            <div class="modal-body">
                <label for="ticket-quantity" class="modal-lable">
                    <i class="ti-shopping-cart"></i>
                    khong co tien thi thoi :>
                </label>
                <input id="ticket-quantity" type="text" class="modal-input" placeholder="How many?">


                <label for="ticket-email" class="modal-lable">
                    <i class="ti-user"></i>
                    Send to
                </label>
                <input id="ticket-email" type="email" class="modal-input" placeholder="Enter your email...">

                <button id="buy-tickets">

                    Pay <i class="ti-check"></i>

                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-help">
                    Need <a href="https://www.facebook.com/hoanganhvu03">help</a> ?
                </p>
            </footer>
        </div>
    </div>

    <script>
        const modal = document.querySelector('.js-modal')
        const buyBtns = document.querySelectorAll('.js-buy-ticket')
        const modalClose = document.querySelector('.js-modal-close')

        function ShowBuyTicket() {
            modal.classList.add('open')
        }

        function HideBuyTicket() {
            modal.classList.remove('open')
        }

        for (const buyBtn of buyBtns)
            buyBtn.addEventListener('click', ShowBuyTicket)

        modalClose.addEventListener('click', HideBuyTicket)
    </script>
</body>

</html>